plugins
hudson.model.UpdateCenter.xml
hudson.plugins.git.GitTool.xml
identity.key
secret.key
updates
nodeMonitors.xml
.bash_history
.ocp/
.opam/
.owner
.viminfo
*.swp
.omake
.lesshst
*.log
pbuilder
queue.xml
queue.xml.bak
